In [1]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [2]:
price + _

113.0625

In [5]:
a,b=0,1
while a<10:
    print(a)
    a,b=b,a+b

0
1
1
2
3
5
8

In [6]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

In [7]:
a, b = 0, 1
while a < 1000:
    print(a, ',')
    a, b = b, a+b

0 ,
1 ,
1 ,
2 ,
3 ,
5 ,
8 ,
13 ,
21 ,
34 ,
55 ,
89 ,
144 ,
233 ,
377 ,
610 ,
987 ,

In [6]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

cat 3
window 6
defenestrate 12

In [8]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [10]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [10]:
nums = [11,12,13,1,2,1]
for num in nums:
    if num % 5 == 0:
        print(num)
        break
else:
    print("not found")

not found

In [3]:
for n in range(1,100):
    if n%2==0:
        print(n)
    else:
        print(n*n)

1
2
9
4
25
6
49
8
81
10
121
12
169
14
225
16
289
18
361
20
441
22
529
24
625
26
729
28
841
30
961
32
1089
34
1225
36
1369
38
1521
40
1681
42
1849
44
2025
46
2209
48
2401
50
2601
52
2809
54
3025
56
3249
58
3481
60
3721
62
3969
64
4225
66
4489
68
4761
70
5041
72
5329
74
5625
76
5929
78
6241
80
6561
82
6889
84
7225
86
7569
88
7921
90
8281
92
8649
94
9025
96
9409
98
9801

In [4]:
for n in range(1 , 10):
    print(n)

1
2
3
4
5
6
7
8
9

In [1]:
10/2

5.0

In [2]:
10//2

5

In [3]:
'hemanth'

'hemanth'

In [4]:
print('hemanth');

hemanth

In [5]:
print('navin's "laptop"')

SyntaxError: invalid syntax (<ipython-input-5-777df7b62093>, line 1)

In [7]:
print('navin\'s "laptop"')

navin's "laptop"

In [8]:
10*'hemanth'

'hemanthhemanthhemanthhemanthhemanthhemanthhemanthhemanthhemanthhemanth'

In [29]:
'hemanth' + 'hemanth'

'hemanthhemanth'

In [30]:
print('c:\docs\navin');

c:\docs
avin

In [31]:
print(r'c:\docs\navin');

c:\docs\navin

In [32]:
x=9;
y=1;

In [33]:
print(x+1);

10

In [34]:
print(_)

hemanthhemanth

In [35]:
_+'hemanth'

'hemanthhemanthhemanth'

In [36]:
name='hemanth';
name+'kumar'

'hemanthkumar'

In [37]:
name[0]

'h'

In [40]:
name[-1]

'h'

In [41]:
name[-2]

't'

In [42]:
name[0:2]

'he'

In [43]:
len(name)

7

In [44]:
names=['hemu','somu','cham'];
nums=[25,12,36,95,14];
mix=[names,nums];

In [45]:
mix;

In [46]:
print(mix);

[['hemu', 'somu', 'cham'], [25, 12, 36, 95, 14]]

In [49]:
nums.append(45);

In [50]:
print(nums);

[25, 12, 36, 95, 14, 45, 45]

In [51]:
nums.insert(2,77);
print(nums);

[25, 12, 77, 36, 95, 14, 45, 45]

In [52]:
nums.pop(0);
print(nums);

[12, 77, 36, 95, 14, 45, 45]

In [53]:
nums.pop();
print(nums);

[12, 77, 36, 95, 14, 45]

In [56]:
nums.extend([12,1,1,2,45]);
print(nums);

[12, 77, 36, 95, 14, 45, 12, 1, 1, 2, 45, 12, 1, 1, 2, 45]

In [65]:
y=min(nums);
print(y);

1

In [66]:
print(max(nums));

95

In [67]:
x=nums.sort();

In [68]:
print(x);

None

In [69]:
keys = ['hemanth','kumar','nichenametla'];
values = ['python','java','c'];

In [70]:
data = dict(zip(keys,values));

In [71]:
print(data);

{'hemanth': 'python', 'kumar': 'java', 'nichenametla': 'c'}

In [72]:
data['monika'] = 'cpp';

In [73]:
print(data);

{'hemanth': 'python', 'kumar': 'java', 'nichenametla': 'c', 'monika': 'cpp'}

In [74]:
del data['hemanth'];

In [75]:
print(data);

{'kumar': 'java', 'nichenametla': 'c', 'monika': 'cpp'}

In [76]:
prog = {'javascript':'atom','cs':'vs','python':['pycharm','sublime'],'java':{'jse':'netbeans','jee':'eclipse'}}

In [88]:
prog['javascript']

'atom'

In [81]:
print(prog['python']);

['pycharm', 'sublime']

In [91]:
prog['python'][1]

'sublime'

In [83]:
print(prog['java']);

{'jse': 'netbeans', 'jee': 'eclipse'}

In [85]:
print(prog['java']['jee']);

eclipse

In [1]:
num = 2.5;
type(num)

float

In [2]:
num1 = 1+5j;
type(num1)

complex

In [3]:
b = 5.8;
a = int(b)

In [4]:
a

5

In [5]:
k = float(a)
k

5.0

In [6]:
h = complex (a,k)
h

(5+5j)

In [8]:
a == k

True

In [10]:
h = a < k

In [11]:
h

False

In [12]:
type(h)

bool

In [15]:
int(True)

1

In [16]:
int(False)

0

In [17]:
range(10)

range(0, 10)

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [21]:
d = {'hemanth':'iphone','kumar':'samsung','nichenametla':'oneplus'};

In [22]:
d.keys()

dict_keys(['hemanth', 'kumar', 'nichenametla'])

In [23]:
d.values()

dict_values(['iphone', 'samsung', 'oneplus'])

In [24]:
d['nichenametla']

'oneplus'

In [25]:
d["kumar"]

'samsung'

In [26]:
d.get('hemanth')

'iphone'

In [29]:
d.get("hemanth")

'iphone'

In [30]:
a = 2
b = 3

In [32]:
a > 1 and b > 2

True

In [33]:
a > 1 or b > 2

True

In [34]:
bin(25)

'0b11001'

In [37]:
0b110011

51

In [40]:
import math

In [42]:
x = math.sqrt(25)

In [43]:
x

5.0

In [46]:
print(math.floor(2.1))
print(math.ceil(1.5))
print(math.pow(2,5))

2
2
32.0

In [47]:
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [48]:
import math as m

In [ ]:
m.sqrt(49)

In [1]:
x = input("enter first number")
y = input("enter second number")
z = x + y
print(z)

enter first number6
enter second number9
69

In [2]:
x = int(input("enter first number"))
y = int(input("enter second number"))
z = x + y
print(z)

enter first number10
enter second number20
30

In [4]:
ch = input("enter the charecter")
print(ch[0])

enter the charecterhemanth
h

In [1]:
ch = input("enter the charecter")[0]
print(ch)

enter the charecterhemu
h

In [2]:
result = eval(input('enter some expression'))
result

enter some expression1 + 2 * 3

7

In [2]:
if False:
    print("hi")
print("hey")

hey

In [12]:
x = int(input("enter some number"))
if x % 2 == 0:
    print("it's Even")
    if x > 5:
        print("greater")
    else:
        print("not greater")
else:
    print("odd")

enter some number4
it's Even
not greater

In [11]:
x = int(input("enter some number"))
if x % 2 == 0:
    print("it's Even")
if x % 2 == 1:
    print("odd")

enter some number4
it's Even

In [14]:
x = int(input("enter some number between 1 and 4"))
if x == 1:
    print("one")
    break
if x == 2:
    print("two")
    break
if x == 3:
    print("three")
    break
if x == 4:
    print("four")

SyntaxError: 'break' outside loop (<ipython-input-14-bb2a4ea2b3f6>, line 7)

In [1]:
x = int(input("enter some number between 1 and 4 "))
if x == 1:
    print("one")
    
elif x == 2:
    print("two")
    
elif x == 3:
    print("three")
    
elif x == 4:
    print("four")
else:
    print("wrong input")

enter some number between 1 and 4 10
wrong input

In [3]:
i = 1
while i <= 5:
    print("hey dude")
    i=i+1

hey dude
hey dude
hey dude
hey dude
hey dude

In [1]:
pwd

'C:\\Users\\ekumnic'

In [2]:
import pandas as pb

In [5]:
pb.read_csv('sample.csv')

   Family    Names  Age  Gender
0  Father   Sreenu   53    Male
1  Mother    Sailu   43  Female
2  Sister   Sowmya   21  Female
3      Me  Hemanth   23    Male

In [6]:
df = pb.read_csv('sample.csv')

In [7]:
df

   Family    Names  Age  Gender
0  Father   Sreenu   53    Male
1  Mother    Sailu   43  Female
2  Sister   Sowmya   21  Female
3      Me  Hemanth   23    Male

In [8]:
print(df)

   Family    Names  Age  Gender
0  Father   Sreenu   53    Male
1  Mother    Sailu   43  Female
2  Sister   Sowmya   21  Female
3      Me  Hemanth   23    Male

In [9]:
df.to_csv('sample1.csv')

In [10]:
pb.read_csv('sample1.csv')

   Unnamed: 0  Family    Names  Age  Gender
0           0  Father   Sreenu   53    Male
1           1  Mother    Sailu   43  Female
2           2  Sister   Sowmya   21  Female
3           3      Me  Hemanth   23    Male

In [13]:
df.to_csv('sample1.csv', index= False)

In [14]:
pb.read_csv('sample1.csv')

   Family    Names  Age  Gender
0  Father   Sreenu   53    Male
1  Mother    Sailu   43  Female
2  Sister   Sowmya   21  Female
3      Me  Hemanth   23    Male